@use './variables' as *;
@use './buttons' as *;
@use './mixins' as*;
@use './functions' as *;

.card {
    @include setFlex(column); 
    width: 800px;
    border: 2px solid $primary-color;
    border-radius: 5px;
    background-color: $background-color;
    overflow: hidden;

    &-image {
        width: 80%;
        height: auto;
    }

    &-content {
        padding: convertPxToRem(15);
       text-align: center ;
       width: 80%;
      
        &-text {
            
            font-family: 'Montserrat';
            color: $off-white ;
        }
    }

    &-btns {
        @include setFlex(row);
        align-self: center;
        padding: 10px;

    }

    &-btn {
       @extend %btn;
        margin-right: 10px;
       
        background-color: $primary-color;
       

        &-link {
            @extend %btn-text;
        }

        &-secondary {
            @extend %btn;
            background-color: $secondary-color;
        
        }

        &-secondary-link {
            &-link {
                @extend %btn-text;
            }

        }
    }
}